
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $(".panelcontent").each(function(){
          //$(this).toggleClass("is-hidden");
      });
    });
    $( function() {
        $( "#accordion" ).accordion({
            collapsible: true
        });
    } );
</script>



<div id="accordion" class="box has-background-grey-dark">
  <h3 class="box has-background-grey has-text-white" id="c000" >Class 000 – Computer science, information and general works</h3><div>
  <div id="cs000" class="box has-background-white-bis"><h3>000 Computer science, knowledge and systems</h3><ul>
    <li><a href="/books/search/dewey/000">000 Computer science, information and general works</a></li>
    <li><a href="/books/search/dewey/001">001 Knowledge</a></li>
    <li><a href="/books/search/dewey/002">002 The book (writing, libraries, and book-related topics)</a></li>
    <li><a href="/books/search/dewey/003">003 Systems</a></li>
    <li><a href="/books/search/dewey/004">004 Data processing and computer science</a></li>
    <li><a href="/books/search/dewey/005">005 Computer programming, programs and data</a></li>
    <li><a href="/books/search/dewey/006">006 Special computer methods</a></li>
    <li><a href="/books/search/dewey/007–009">007–009 [Unassigned]</a></li>
  </ul></div><div id="cs010" class="box has-background-white-bis"><h3>010 Bibliographies</h3><ul>
  <li><a href="/books/search/dewey/010">010 Bibliography</a></li>
  <li><a href="/books/search/dewey/011">011 Bibliographies</a></li>
  <li><a href="/books/search/dewey/012">012 Bibliographies of individuals</a></li>
  <li><a href="/books/search/dewey/013">013 [Unassigned]</a></li>
  <li><a href="/books/search/dewey/014">014 Bibliographies of anonymous and pseudonymous works</a></li>
  <li><a href="/books/search/dewey/015">015 Bibliographies of works from specific places</a></li>
  <li><a href="/books/search/dewey/016">016 Bibliographies of works on specific subjects</a></li>
  <li><a href="/books/search/dewey/017">017 General subject catalogs</a></li>
  <li><a href="/books/search/dewey/018">018 Catalogs arranged by author, date, etc.</a></li>
  <li><a href="/books/search/dewey/019">019 Dictionary catalogs</a></li>
</ul></div><div id="cs020" class="box has-background-white-bis"><h3>020 Library and information sciences</h3><ul>
  <li><a href="/books/search/dewey/020">020 Library and information sciences</a></li>
  <li><a href="/books/search/dewey/021">021 Library relationships (with archives, information centers, etc.)</a></li>
  <li><a href="/books/search/dewey/022">022 Administration of physical plant</a></li>
  <li><a href="/books/search/dewey/023">023 Personnel management</a></li>
  <li><a href="/books/search/dewey/024">024 [Unassigned]</a></li>
  <li><a href="/books/search/dewey/025">025 Library operations</a></li>
  <li><a href="/books/search/dewey/026">026 Libraries for specific subjects</a></li>
  <li><a href="/books/search/dewey/027">027 General libraries</a></li>
  <li><a href="/books/search/dewey/028">028 Reading and use of other information media</a></li>
  <li><a href="/books/search/dewey/029">029 [Unassigned]</a></li>
</ul></div><div id="cs030" class="box has-background-white-bis"><h3>030 Encyclopedias and books of facts</h3><ul>
  <li><a href="/books/search/dewey/030">030 General encyclopedic works</a></li>
  <li><a href="/books/search/dewey/031">031 Encyclopedias in American English</a></li>
  <li><a href="/books/search/dewey/032">032 Encyclopedias in English</a></li>
  <li><a href="/books/search/dewey/033">033 Encyclopedias in other Germanic languages</a></li>
  <li><a href="/books/search/dewey/034">034 Encyclopedias in French, Occitan, and Catalan</a></li>
  <li><a href="/books/search/dewey/035">035 Encyclopedias in Italian, Romanian, and related languages</a></li>
  <li><a href="/books/search/dewey/036">036 Encyclopedias in Spanish and Portuguese</a></li>
  <li><a href="/books/search/dewey/037">037 Encyclopedias in Slavic languages</a></li>
  <li><a href="/books/search/dewey/038">038 Encyclopedias in Scandinavian languages</a></li>
  <li><a href="/books/search/dewey/039">039 Encyclopedias in other languages</a></li>
</ul></div><div id="cs040" class="box has-background-white-bis"><h3>040 Unassigned (formerly Biographies)</h3><ul>
</ul></div><div id="cs050" class="box has-background-white-bis"><h3>050 Magazines, journals and serials</h3><ul>
  <li><a href="/books/search/dewey/050">050 General serial publications</a></li>
  <li><a href="/books/search/dewey/051">051 Serials in American English</a></li>
  <li><a href="/books/search/dewey/052">052 Serials in English</a></li>
  <li><a href="/books/search/dewey/053">053 Serials in other Germanic languages</a></li>
  <li><a href="/books/search/dewey/054">054 Serials in French, Occitan, and Catalan</a></li>
  <li><a href="/books/search/dewey/055">055 Serials in Italian, Romanian, and related languages</a></li>
  <li><a href="/books/search/dewey/056">056 Serials in Spanish and Portuguese</a></li>
  <li><a href="/books/search/dewey/057">057 Serials in Slavic languages</a></li>
  <li><a href="/books/search/dewey/058">058 Serials in Scandinavian languages</a></li>
  <li><a href="/books/search/dewey/059">059 Serials in other languages</a></li>
</ul></div><div id="cs060" class="box has-background-white-bis"><h3>060 Associations, organizations and museums</h3><ul>
  <li><a href="/books/search/dewey/060">060 General organizations and museum science</a></li>
  <li><a href="/books/search/dewey/061">061 Organizations in North America</a></li>
  <li><a href="/books/search/dewey/062">062 Organizations in British Isles; in England</a></li>
  <li><a href="/books/search/dewey/063">063 Organizations in central Europe; in Germany</a></li>
  <li><a href="/books/search/dewey/064">064 Organizations in France and Monaco</a></li>
  <li><a href="/books/search/dewey/065">065 Organizations in Italy and adjacent islands</a></li>
  <li><a href="/books/search/dewey/066">066 Organizations in Iberian peninsula and adjacent islands</a></li>
  <li><a href="/books/search/dewey/067">067 Organizations in eastern Europe; in Russia</a></li>
  <li><a href="/books/search/dewey/068">068 Organizations in other geographic areas</a></li>
  <li><a href="/books/search/dewey/069">069 Museum science</a></li>
</ul></div><div id="cs070" class="box has-background-white-bis"><h3>070 News media, journalism and publishing</h3><ul>
  <li><a href="/books/search/dewey/070">070 News media, journalism, and publishing</a></li>
  <li><a href="/books/search/dewey/071">071 Newspapers in North America</a></li>
  <li><a href="/books/search/dewey/072">072 Newspapers in British Isles; in England</a></li>
  <li><a href="/books/search/dewey/073">073 Newspapers in central Europe; in Germany</a></li>
  <li><a href="/books/search/dewey/074">074 Newspapers in France and Monaco</a></li>
  <li><a href="/books/search/dewey/075">075 Newspapers in Italy and adjacent islands</a></li>
  <li><a href="/books/search/dewey/076">076 Newspapers in Iberian peninsula and adjacent islands</a></li>
  <li><a href="/books/search/dewey/077">077 Newspapers in eastern Europe; in Russia</a></li>
  <li><a href="/books/search/dewey/078">078 Newspapers in Scandinavia</a></li>
  <li><a href="/books/search/dewey/079">079 Newspapers in other geographic areas</a></li>
</ul></div><div id="cs080" class="box has-background-white-bis"><h3>080 Quotations</h3><ul>
  <li><a href="/books/search/dewey/080">080 General collections</a></li>
  <li><a href="/books/search/dewey/081">081 Collections in American English</a></li>
  <li><a href="/books/search/dewey/082">082 Collections in English</a></li>
  <li><a href="/books/search/dewey/083">083 Collections in other Germanic languages</a></li>
  <li><a href="/books/search/dewey/084">084 Collections in French, Occitan, Catalan</a></li>
  <li><a href="/books/search/dewey/085">085 Collections in Italian, Romanian, and related languages</a></li>
  <li><a href="/books/search/dewey/086">086 Collections in Spanish and Portuguese</a></li>
  <li><a href="/books/search/dewey/087">087 Collections in Slavic languages</a></li>
  <li><a href="/books/search/dewey/088">088 Collections in Scandinavian languages</a></li>
  <li><a href="/books/search/dewey/089">089 Collections in other languages</a></li>
</ul></div><div id="cs090" class="box has-background-white-bis"><h3>090 Manuscripts and rare books</h3><ul>
  <li><a href="/books/search/dewey/090">090 Manuscripts and rare books</a></li>
  <li><a href="/books/search/dewey/091">091 Manuscripts</a></li>
  <li><a href="/books/search/dewey/092">092 Block books</a></li>
  <li><a href="/books/search/dewey/093">093 Incunabula</a></li>
  <li><a href="/books/search/dewey/094">094 Printed books</a></li>
  <li><a href="/books/search/dewey/095">095 Books notable for bindings</a></li>
  <li><a href="/books/search/dewey/096">096 Books notable for illustrations</a></li>
  <li><a href="/books/search/dewey/097">097 Books notable for ownership or origin</a></li>
  <li><a href="/books/search/dewey/098">098 Prohibited works, forgeries, and hoaxes</a></li>
  <li><a href="/books/search/dewey/099">099 Books notable for format</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c100" >Class 100 – Philosophy and psychology</h3><div>
  <div id="cs100" class="box has-background-white-bis"><h3>100 Philosophy</h3><ul>
    <li><a href="/books/search/dewey/100">100 Philosophy and psychology</a></li>
    <li><a href="/books/search/dewey/101">101 Theory of philosophy</a></li>
    <li><a href="/books/search/dewey/102">102 Miscellany</a></li>
    <li><a href="/books/search/dewey/103">103 Dictionaries and encyclopedias</a></li>
    <li><a href="/books/search/dewey/104">104 Essays</a></li>
    <li><a href="/books/search/dewey/105">105 Serial publications</a></li>
    <li><a href="/books/search/dewey/106">106 Organizations and management</a></li>
    <li><a href="/books/search/dewey/107">107 Education, research, related topics of philosophy</a></li>
    <li><a href="/books/search/dewey/108">108 Groups of people</a></li>
    <li><a href="/books/search/dewey/109">109 History and collected biography</a></li>
  </ul></div><div id="cs110" class="box has-background-white-bis"><h3>110 Metaphysics</h3><ul>
  <li><a href="/books/search/dewey/110">110 Metaphysics</a></li>
  <li><a href="/books/search/dewey/111">111 Ontology</a></li>
  <li><a href="/books/search/dewey/112">112 No longer used — formerly Methodology</a></li>
  <li><a href="/books/search/dewey/113">113 Cosmology (Philosophy of nature)</a></li>
  <li><a href="/books/search/dewey/114">114 Space</a></li>
  <li><a href="/books/search/dewey/115">115 Time</a></li>
  <li><a href="/books/search/dewey/116">116 Change</a></li>
  <li><a href="/books/search/dewey/117">117 Structure</a></li>
  <li><a href="/books/search/dewey/118">118 Force and energy</a></li>
  <li><a href="/books/search/dewey/119">119 Number and quantity</a></li>
</ul></div><div id="cs120" class="box has-background-white-bis"><h3>120 Epistemology</h3><ul>
  <li><a href="/books/search/dewey/120">120 Epistemology, causation, and humankind</a></li>
  <li><a href="/books/search/dewey/121">121 Epistemology (Theory of knowledge)</a></li>
  <li><a href="/books/search/dewey/122">122 Causation</a></li>
  <li><a href="/books/search/dewey/123">123 Determinism and indeterminism</a></li>
  <li><a href="/books/search/dewey/124">124 Teleology</a></li>
  <li><a href="/books/search/dewey/125">125 No longer used — formerly Infinity</a></li>
  <li><a href="/books/search/dewey/126">126 The self</a></li>
  <li><a href="/books/search/dewey/127">127 The unconscious and the subconscious</a></li>
  <li><a href="/books/search/dewey/128">128 Humankind</a></li>
  <li><a href="/books/search/dewey/129">129 Origin and destiny of individual souls</a></li>
</ul></div><div id="cs130" class="box has-background-white-bis"><h3>130 Parapsychology and occultism</h3><ul>
  <li><a href="/books/search/dewey/130">130 Parapsychology and occultism</a></li>
  <li><a href="/books/search/dewey/131">131 Parapsychological and occult methods for achieving well-being, happiness, success</a></li>
  <li><a href="/books/search/dewey/132">132 No longer used — formerly "Mental derangements"</a></li>
  <li><a href="/books/search/dewey/133">133 Specific topics in parapsychology and occultism</a></li>
  <li><a href="/books/search/dewey/134">134 No longer used — formerly "Mesmerism and Clairvoyance"</a></li>
  <li><a href="/books/search/dewey/135">135 Dreams and mysteries</a></li>
  <li><a href="/books/search/dewey/136">136 No longer used — formerly "Mental characteristics"</a></li>
  <li><a href="/books/search/dewey/137">137 Divinatory graphology</a></li>
  <li><a href="/books/search/dewey/138">138 Physiognomy</a></li>
  <li><a href="/books/search/dewey/139">139 Phrenology</a></li>
</ul></div><div id="cs140" class="box has-background-white-bis"><h3>140 Philosophical schools of thought</h3><ul>
  <li><a href="/books/search/dewey/140">140 Specific philosophical schools and viewpoints</a></li>
  <li><a href="/books/search/dewey/141">141 Idealism and related systems and doctrines</a></li>
  <li><a href="/books/search/dewey/142">142 Critical philosophy</a></li>
  <li><a href="/books/search/dewey/143">143 Bergsonism and intuitionism</a></li>
  <li><a href="/books/search/dewey/144">144 Humanism and related systems and doctrines</a></li>
  <li><a href="/books/search/dewey/145">145 Sensationalism</a></li>
  <li><a href="/books/search/dewey/146">146 Naturalism and related systems and doctrines</a></li>
  <li><a href="/books/search/dewey/147">147 Pantheism and related systems and doctrines</a></li>
  <li><a href="/books/search/dewey/148">148 Dogmatism, eclecticism, liberalism, syncretism, and traditionalism</a></li>
  <li><a href="/books/search/dewey/149">149 Other philosophical systems and doctrines</a></li>
</ul></div><div id="cs150" class="box has-background-white-bis"><h3>150 Psychology</h3><ul>
  <li><a href="/books/search/dewey/150">150 Psychology</a></li>
  <li><a href="/books/search/dewey/151">151 No longer used — formerly "Intellect "</a></li>
  <li><a href="/books/search/dewey/152">152 Sensory perception, movement, emotions, and physiological drives</a></li>
  <li><a href="/books/search/dewey/153">153 Conscious mental processes and intelligence</a></li>
  <li><a href="/books/search/dewey/154">154 Subconscious and altered states and processes</a></li>
  <li><a href="/books/search/dewey/155">155 Differential and developmental psychology</a></li>
  <li><a href="/books/search/dewey/156">156 Comparative psychology</a></li>
  <li><a href="/books/search/dewey/157">157 No longer used — formerly "Emotions"</a></li>
  <li><a href="/books/search/dewey/158">158 Applied psychology</a></li>
  <li><a href="/books/search/dewey/159">159 No longer used — formerly "Will"</a></li>
</ul></div><div id="cs160" class="box has-background-white-bis"><h3>160 Philosophical logic</h3><ul>
  <li><a href="/books/search/dewey/160">160 Philosophical logic</a></li>
  <li><a href="/books/search/dewey/161">161 Induction</a></li>
  <li><a href="/books/search/dewey/162">162 Deduction</a></li>
  <li><a href="/books/search/dewey/163–164">163–164 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/165">165 Fallacies and sources of error</a></li>
  <li><a href="/books/search/dewey/166">166 Syllogisms</a></li>
  <li><a href="/books/search/dewey/167">167 Hypotheses</a></li>
  <li><a href="/books/search/dewey/168">168 Argument and persuasion</a></li>
  <li><a href="/books/search/dewey/169">169 Analogy</a></li>
</ul></div><div id="cs170" class="box has-background-white-bis"><h3>170 Ethics</h3><ul>
  <li><a href="/books/search/dewey/170">170 Ethics (Moral philosophy)</a></li>
  <li><a href="/books/search/dewey/171">171 Ethical systems</a></li>
  <li><a href="/books/search/dewey/172">172 Political ethics</a></li>
  <li><a href="/books/search/dewey/173">173 Ethics of family relationships</a></li>
  <li><a href="/books/search/dewey/174">174 Occupational ethics</a></li>
  <li><a href="/books/search/dewey/175">175 Ethics of recreation, leisure, public performances, communication</a></li>
  <li><a href="/books/search/dewey/176">176 Ethics of sex and reproduction</a></li>
  <li><a href="/books/search/dewey/177">177 Ethics of social relations</a></li>
  <li><a href="/books/search/dewey/178">178 Ethics of consumption</a></li>
  <li><a href="/books/search/dewey/179">179 Other ethical norms</a></li>
</ul></div><div id="cs180" class="box has-background-white-bis"><h3>180 Ancient, medieval, and Eastern philosophy</h3><ul>
  <li><a href="/books/search/dewey/180">180 Ancient, medieval, eastern philosophy</a></li>
  <li><a href="/books/search/dewey/181">181 Eastern philosophy</a></li>
  <li><a href="/books/search/dewey/182">182 Pre-Socratic Greek philosophies</a></li>
  <li><a href="/books/search/dewey/183">183 Sophistic, Socratic, related Greek philosophies</a></li>
  <li><a href="/books/search/dewey/184">184 Platonic philosophy</a></li>
  <li><a href="/books/search/dewey/185">185 Aristotelian philosophy</a></li>
  <li><a href="/books/search/dewey/186">186 Skeptic and Neoplatonic philosophies</a></li>
  <li><a href="/books/search/dewey/187">187 Epicurean philosophy</a></li>
  <li><a href="/books/search/dewey/188">188 Stoic philosophy</a></li>
  <li><a href="/books/search/dewey/189">189 Medieval Western philosophy</a></li>
</ul></div><div id="cs190" class="box has-background-white-bis"><h3>190 Modern Western philosophy (19th-century, 20th-century)</h3><ul>
  <li><a href="/books/search/dewey/190">190 Modern Western and other noneastern philosophy</a></li>
  <li><a href="/books/search/dewey/191">191 Philosophy of the United States and Canada</a></li>
  <li><a href="/books/search/dewey/192">192 Philosophy of the British Isles</a></li>
  <li><a href="/books/search/dewey/193">193 Philosophy of Germany and Austria</a></li>
  <li><a href="/books/search/dewey/194">194 Philosophy of France</a></li>
  <li><a href="/books/search/dewey/195">195 Philosophy of Italy</a></li>
  <li><a href="/books/search/dewey/196">196 Philosophy of Spain and Portugal</a></li>
  <li><a href="/books/search/dewey/197">197 Philosophy of Russia</a></li>
  <li><a href="/books/search/dewey/198">198 Philosophy of Scandinavia and Finland</a></li>
  <li><a href="/books/search/dewey/199">199 Philosophy in other geographic areas</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c200" >Class 200 – Religion</h3><div>
  <div id="cs200" class="box has-background-white-bis"><h3>200 Religion</h3><ul>
    <li><a href="/books/search/dewey/200">200 Religion</a></li>
    <li><a href="/books/search/dewey/201">201 Religious mythology, general classes of religion, interreligious relations and attitudes, social theology</a></li>
    <li><a href="/books/search/dewey/202">202 Doctrines</a></li>
    <li><a href="/books/search/dewey/203">203 Public worship and other practices</a></li>
    <li><a href="/books/search/dewey/204">204 Religious experience, life, practice</a></li>
    <li><a href="/books/search/dewey/205">205 Religious ethics</a></li>
    <li><a href="/books/search/dewey/206">206 Leaders and organization</a></li>
    <li><a href="/books/search/dewey/207">207 Missions and religious education</a></li>
    <li><a href="/books/search/dewey/208">208 Sources</a></li>
    <li><a href="/books/search/dewey/209">209 Sects and reform movements</a></li>
  </ul></div><div id="cs210" class="box has-background-white-bis"><h3>210 Philosophy and theory of religion</h3><ul>
  <li><a href="/books/search/dewey/210">210 Philosophy and theory of religion</a></li>
  <li><a href="/books/search/dewey/211">211 Concepts of God</a></li>
  <li><a href="/books/search/dewey/212">212 Existence, ways of knowing God, attributes of God</a></li>
  <li><a href="/books/search/dewey/213">213 Creation</a></li>
  <li><a href="/books/search/dewey/214">214 Theodicy</a></li>
  <li><a href="/books/search/dewey/215">215 Science and religion</a></li>
  <li><a href="/books/search/dewey/216">216 No longer used—formerly Evil</a></li>
  <li><a href="/books/search/dewey/217">217 No longer used—formerly Prayer</a></li>
  <li><a href="/books/search/dewey/218">218 Humankind</a></li>
  <li><a href="/books/search/dewey/219">219 No longer used—formerly Analogies</a></li>
</ul></div><div id="cs220" class="box has-background-white-bis"><h3>220 The Bible</h3><ul>
  <li><a href="/books/search/dewey/220">220 Bible</a></li>
  <li><a href="/books/search/dewey/221">221 Old Testament</a></li>
  <li><a href="/books/search/dewey/222">222 Historical books of Old Testament</a></li>
  <li><a href="/books/search/dewey/223">223 Poetic books of Old Testament</a></li>
  <li><a href="/books/search/dewey/224">224 Prophetic books of Old Testament</a></li>
  <li><a href="/books/search/dewey/225">225 New Testament</a></li>
  <li><a href="/books/search/dewey/226">226 Gospels and Acts</a></li>
  <li><a href="/books/search/dewey/227">227 Epistles</a></li>
  <li><a href="/books/search/dewey/228">228 Revelation (Apocalypse)</a></li>
  <li><a href="/books/search/dewey/229">229 Apocrypha, pseudepigrapha, and inter-testamental works</a></li>
</ul></div><div id="cs230" class="box has-background-white-bis"><h3>230 Christianity</h3><ul>
  <li><a href="/books/search/dewey/230">230 Christianity</a></li>
  <li><a href="/books/search/dewey/231">231 God</a></li>
  <li><a href="/books/search/dewey/232">232 Jesus Christ and his family</a></li>
  <li><a href="/books/search/dewey/233">233 Humankind</a></li>
  <li><a href="/books/search/dewey/234">234 Salvation and grace</a></li>
  <li><a href="/books/search/dewey/235">235 Spiritual beings</a></li>
  <li><a href="/books/search/dewey/236">236 Eschatology</a></li>
  <li><a href="/books/search/dewey/237">237 No longer used—formerly Future state</a></li>
  <li><a href="/books/search/dewey/238">238 Creeds, confessions of faith, covenants, and catechisms</a></li>
  <li><a href="/books/search/dewey/239">239 Apologetics and polemics</a></li>
</ul></div><div id="cs240" class="box has-background-white-bis"><h3>240 Christian practice and observance</h3><ul>
  <li><a href="/books/search/dewey/240">240 Christian moral and devotional theology</a></li>
  <li><a href="/books/search/dewey/241">241 Christian ethics</a></li>
  <li><a href="/books/search/dewey/242">242 Devotional literature</a></li>
  <li><a href="/books/search/dewey/243">243 Evangelistic writings for individuals and families</a></li>
  <li><a href="/books/search/dewey/244">244 No longer used—formerly Religious fiction</a></li>
  <li><a href="/books/search/dewey/245">245 No longer used—formerly Hymnology</a></li>
  <li><a href="/books/search/dewey/246">246 Use of art in Christianity</a></li>
  <li><a href="/books/search/dewey/247">247 Church furnishings and related articles</a></li>
  <li><a href="/books/search/dewey/248">248 Christian experience, practice, life</a></li>
  <li><a href="/books/search/dewey/249">249 Christian observances in family life</a></li>
</ul></div><div id="cs250" class="box has-background-white-bis"><h3>250 Christian orders and local church</h3><ul>
  <li><a href="/books/search/dewey/250">250 Local Christian church and Christian religious orders</a></li>
  <li><a href="/books/search/dewey/251">251 Preaching (Homiletics)</a></li>
  <li><a href="/books/search/dewey/252">252 Texts of sermons</a></li>
  <li><a href="/books/search/dewey/253">253 Pastoral office and work (Pastoral theology)</a></li>
  <li><a href="/books/search/dewey/254">254 Parish administration</a></li>
  <li><a href="/books/search/dewey/255">255 Religious congregations and orders</a></li>
  <li><a href="/books/search/dewey/256">256 No longer used — formerly "Religious societies"</a></li>
  <li><a href="/books/search/dewey/257">257 No longer used — formerly "Parochial schools, libraries", etc.</a></li>
  <li><a href="/books/search/dewey/258">258 No longer used — formerly "Parochial medicine"</a></li>
  <li><a href="/books/search/dewey/259">259 Pastoral care of families, of specific groups of people</a></li>
</ul></div><div id="cs260" class="box has-background-white-bis"><h3>260 Social and ecclesiastical theology</h3><ul>
  <li><a href="/books/search/dewey/260">260 Christian social and ecclesiastical theology</a></li>
  <li><a href="/books/search/dewey/261">261 Social theology and interreligious relations and attitudes</a></li>
  <li><a href="/books/search/dewey/262">262 Ecclesiology</a></li>
  <li><a href="/books/search/dewey/263">263 Days, times, places of religious observance</a></li>
  <li><a href="/books/search/dewey/264">264 Public worship</a></li>
  <li><a href="/books/search/dewey/265">265 Sacraments, other rites and acts</a></li>
  <li><a href="/books/search/dewey/266">266 Missions</a></li>
  <li><a href="/books/search/dewey/267">267 Associations for religious work</a></li>
  <li><a href="/books/search/dewey/268">268 Religious education</a></li>
  <li><a href="/books/search/dewey/269">269 Spiritual renewal</a></li>
</ul></div><div id="cs270" class="box has-background-white-bis"><h3>270 History of Christianity</h3><ul>
  <li><a href="/books/search/dewey/270">270 History, geographic treatment, biography of Christianity</a></li>
  <li><a href="/books/search/dewey/271">271 Religious congregations and orders in church history</a></li>
  <li><a href="/books/search/dewey/272">272 Persecutions in church history</a></li>
  <li><a href="/books/search/dewey/273">273 Doctrinal controversies and heresies in general church history</a></li>
  <li><a href="/books/search/dewey/274">274 Christianity in Europe</a></li>
  <li><a href="/books/search/dewey/275">275 Christianity in Asia</a></li>
  <li><a href="/books/search/dewey/276">276 Christianity in Africa</a></li>
  <li><a href="/books/search/dewey/277">277 Christianity in North America</a></li>
  <li><a href="/books/search/dewey/278">278 Christianity in South America</a></li>
  <li><a href="/books/search/dewey/279">279 History of Christianity in other areas</a></li>
</ul></div><div id="cs280" class="box has-background-white-bis"><h3>280 Christian denominations</h3><ul>
  <li><a href="/books/search/dewey/280">280 Denominations and sects of Christian church</a></li>
  <li><a href="/books/search/dewey/281">281 Early church and Eastern churches</a></li>
  <li><a href="/books/search/dewey/282">282 Roman Catholic Church</a></li>
  <li><a href="/books/search/dewey/283">283 Anglican churches</a></li>
  <li><a href="/books/search/dewey/284">284 Protestant denominations of Continental origin and related body</a></li>
  <li><a href="/books/search/dewey/285">285 Presbyterian churches, Reformed churches centered in America, Congregational churches</a></li>
  <li><a href="/books/search/dewey/286">286 Baptist, Restoration Movement, Adventist churches</a></li>
  <li><a href="/books/search/dewey/287">287 Methodist churches; churches related to Methodism</a></li>
  <li><a href="/books/search/dewey/288">288 No longer used — formerly "Unitarian"</a></li>
  <li><a href="/books/search/dewey/289">289 Other denominations and sects</a></li>
</ul></div><div id="cs290" class="box has-background-white-bis"><h3>290 Other religions</h3><ul>
  <li><a href="/books/search/dewey/290">290 Other religions</a></li>
  <li><a href="/books/search/dewey/291">291 No longer used — formerly "Comparative religion"</a></li>
  <li><a href="/books/search/dewey/292">292 Classical religion (Greek and Roman religion)</a></li>
  <li><a href="/books/search/dewey/293">293 Germanic religion</a></li>
  <li><a href="/books/search/dewey/294">294 Religions of Indic origin</a></li>
  <li><a href="/books/search/dewey/295">295 Zoroastrianism (Mazdaism, Parseeism)</a></li>
  <li><a href="/books/search/dewey/296">296 Judaism</a></li>
  <li><a href="/books/search/dewey/297">297 Islam, Bábism and Baháʼí Faith</a></li>
  <li><a href="/books/search/dewey/298">298 No longer used — formerly "Mormonism"</a></li>
  <li><a href="/books/search/dewey/299">299 Religions not provided for elsewhere</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c300" >Class 300 – Social sciences</h3><div>
  <div id="cs300" class="box has-background-white-bis"><h3>300 Social sciences, sociology and anthropology</h3><ul>
    <li><a href="/books/search/dewey/300">300 Social sciences</a></li>
    <li><a href="/books/search/dewey/301">301 Sociology and anthropology</a></li>
    <li><a href="/books/search/dewey/302">302 Social interaction</a></li>
    <li><a href="/books/search/dewey/303">303 Social processes</a></li>
    <li><a href="/books/search/dewey/304">304 Factors affecting social behavior</a></li>
    <li><a href="/books/search/dewey/305">305 Groups of people</a></li>
    <li><a href="/books/search/dewey/306">306 Culture and institutions</a></li>
    <li><a href="/books/search/dewey/307">307 Communities</a></li>
    <li><a href="/books/search/dewey/308">308 No longer used — formerly "Polygraphy"</a></li>
    <li><a href="/books/search/dewey/309">309 No longer used — formerly "History of sociology"</a></li>
  </ul></div><div id="cs310" class="box has-background-white-bis"><h3>310 Statistics</h3><ul>
  <li><a href="/books/search/dewey/310">310 Collections of general statistics</a></li>
  <li><a href="/books/search/dewey/311">311 No longer used — formerly "Theory and methods"</a></li>
  <li><a href="/books/search/dewey/312">312 No longer used — formerly "Population"</a></li>
  <li><a href="/books/search/dewey/313">313 No longer used — formerly "Special topics"</a></li>
  <li><a href="/books/search/dewey/314">314 General statistics of Europe</a></li>
  <li><a href="/books/search/dewey/315">315 General statistics of Asia</a></li>
  <li><a href="/books/search/dewey/316">316 General statistics of Africa</a></li>
  <li><a href="/books/search/dewey/317">317 General statistics of North America</a></li>
  <li><a href="/books/search/dewey/318">318 General statistics of South America</a></li>
  <li><a href="/books/search/dewey/319">319 General statistics of Australasia, Pacific Ocean islands, Atlantic Ocean islands, Arctic islands, Antarctica</a></li>
</ul></div><div id="cs320" class="box has-background-white-bis"><h3>320 Political science</h3><ul>
  <li><a href="/books/search/dewey/320">320 Political science (Politics and government)</a></li>
  <li><a href="/books/search/dewey/321">321 Systems of governments and states</a></li>
  <li><a href="/books/search/dewey/322">322 Relation of state to organized groups and their members</a></li>
  <li><a href="/books/search/dewey/323">323 Civil and political rights</a></li>
  <li><a href="/books/search/dewey/324">324 The political process</a></li>
  <li><a href="/books/search/dewey/325">325 International migration and colonization</a></li>
  <li><a href="/books/search/dewey/326">326 Slavery and emancipation</a></li>
  <li><a href="/books/search/dewey/327">327 International relations</a></li>
  <li><a href="/books/search/dewey/328">328 The legislative process</a></li>
  <li><a href="/books/search/dewey/329">329 Not assigned or no longer used</a></li>
</ul></div><div id="cs330" class="box has-background-white-bis"><h3>330 Economics</h3><ul>
  <li><a href="/books/search/dewey/330">330 Economics</a></li>
  <li><a href="/books/search/dewey/331">331 Labor economics</a></li>
  <li><a href="/books/search/dewey/332">332 Financial economics</a></li>
  <li><a href="/books/search/dewey/333">333 Economics of land and energy</a></li>
  <li><a href="/books/search/dewey/334">334 Cooperatives</a></li>
  <li><a href="/books/search/dewey/335">335 Socialism and related systems</a></li>
  <li><a href="/books/search/dewey/336">336 Public finance</a></li>
  <li><a href="/books/search/dewey/337">337 International economics</a></li>
  <li><a href="/books/search/dewey/338">338 Production</a></li>
  <li><a href="/books/search/dewey/339">339 Macroeconomics and related topics</a></li>
</ul></div><div id="cs340" class="box has-background-white-bis"><h3>340 Law</h3><ul>
  <li><a href="/books/search/dewey/340">340 Law</a></li>
  <li><a href="/books/search/dewey/341">341 Law of nations</a></li>
  <li><a href="/books/search/dewey/342">342 Constitutional and administrative law</a></li>
  <li><a href="/books/search/dewey/343">343 Military, defense, public property, public finance, tax, commerce (trade), industrial law</a></li>
  <li><a href="/books/search/dewey/344">344 Labor, social service, education, cultural law</a></li>
  <li><a href="/books/search/dewey/345">345 Criminal law</a></li>
  <li><a href="/books/search/dewey/346">346 Private law</a></li>
  <li><a href="/books/search/dewey/347">347 Procedure and courts</a></li>
  <li><a href="/books/search/dewey/348">348 Laws, regulations, cases</a></li>
  <li><a href="/books/search/dewey/349">349 Law of specific jurisdictions, areas, socioeconomic regions, regional intergovernmental organizations</a></li>
</ul></div><div id="cs350" class="box has-background-white-bis"><h3>350 Public administration and military science</h3><ul>
  <li><a href="/books/search/dewey/350">350 Public administration and military science</a></li>
  <li><a href="/books/search/dewey/351">351 Public administration</a></li>
  <li><a href="/books/search/dewey/352">352 General considerations of public administration</a></li>
  <li><a href="/books/search/dewey/353">353 Specific fields of public administration</a></li>
  <li><a href="/books/search/dewey/354">354 Public administration of economy and environment</a></li>
  <li><a href="/books/search/dewey/355">355 Military science</a></li>
  <li><a href="/books/search/dewey/356">356 Foot forces and warfare</a></li>
  <li><a href="/books/search/dewey/357">357 Mounted forces and warfare</a></li>
  <li><a href="/books/search/dewey/358">358 Air and other specialized forces and warfare; engineering and related services</a></li>
  <li><a href="/books/search/dewey/359">359 Sea forces and warfare</a></li>
</ul></div><div id="cs360" class="box has-background-white-bis"><h3>360 Social problems and social services</h3><ul>
  <li><a href="/books/search/dewey/360">360 Social problems and services; associations</a></li>
  <li><a href="/books/search/dewey/361">361 Social problems and services</a></li>
  <li><a href="/books/search/dewey/362">362 Social problems of and services to groups of people</a></li>
  <li><a href="/books/search/dewey/363">363 Other social problems and services</a></li>
  <li><a href="/books/search/dewey/364">364 Criminology</a></li>
  <li><a href="/books/search/dewey/365">365 Penal and related institutions</a></li>
  <li><a href="/books/search/dewey/366">366 Secret associations and societies</a></li>
  <li><a href="/books/search/dewey/367">367 General clubs</a></li>
  <li><a href="/books/search/dewey/368">368 Insurance</a></li>
  <li><a href="/books/search/dewey/369">369 Associations</a></li>
</ul></div><div id="cs370" class="box has-background-white-bis"><h3>370 Education</h3><ul>
  <li><a href="/books/search/dewey/370">370 Education</a></li>
  <li><a href="/books/search/dewey/371">371 Schools and their activities, special education</a></li>
  <li><a href="/books/search/dewey/372">372 Primary education (elementary education)</a></li>
  <li><a href="/books/search/dewey/373">373 Secondary education</a></li>
  <li><a href="/books/search/dewey/374">374 Adult education</a></li>
  <li><a href="/books/search/dewey/375">375 Curricula</a></li>
  <li><a href="/books/search/dewey/376">376 No longer used — formerly "Education of women"</a></li>
  <li><a href="/books/search/dewey/377">377 No longer used — formerly "Ethical education"</a></li>
  <li><a href="/books/search/dewey/378">378 Higher education (Tertiary education)</a></li>
  <li><a href="/books/search/dewey/379">379 Public policy issues in education</a></li>
</ul></div><div id="cs380" class="box has-background-white-bis"><h3>380 Commerce, communications and transportation</h3><ul>
  <li><a href="/books/search/dewey/380">380 Commerce, communications transportation</a></li>
  <li><a href="/books/search/dewey/381">381 Commerce (Trade)</a></li>
  <li><a href="/books/search/dewey/382">382 International commerce (Foreign trade)</a></li>
  <li><a href="/books/search/dewey/383">383 Postal communication</a></li>
  <li><a href="/books/search/dewey/384">384 Communications</a></li>
  <li><a href="/books/search/dewey/385">385 Railroad transportation</a></li>
  <li><a href="/books/search/dewey/386">386 Inland waterway and ferry transportation</a></li>
  <li><a href="/books/search/dewey/387">387 Water, air, space transportation</a></li>
  <li><a href="/books/search/dewey/388">388 Transportation</a></li>
  <li><a href="/books/search/dewey/389">389 Metrology and standardization</a></li>
</ul></div><div id="cs390" class="box has-background-white-bis"><h3>390 Customs, etiquette and folklore</h3><ul>
  <li><a href="/books/search/dewey/390">390 Customs, etiquette, folklore</a></li>
  <li><a href="/books/search/dewey/391">391 Costume and personal appearance</a></li>
  <li><a href="/books/search/dewey/392">392 Customs of life cycle and domestic life</a></li>
  <li><a href="/books/search/dewey/393">393 Death customs</a></li>
  <li><a href="/books/search/dewey/394">394 General customs</a></li>
  <li><a href="/books/search/dewey/395">395 Etiquette (Manners)</a></li>
  <li><a href="/books/search/dewey/396">396 No longer used — formerly "Women's position and treatment"</a></li>
  <li><a href="/books/search/dewey/397">397 No longer used — formerly "outcast studies"</a></li>
  <li><a href="/books/search/dewey/398">398 Folklore</a></li>
  <li><a href="/books/search/dewey/399">399 Customs of war and diplomacy</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c400" >Class 400 – Language</h3><div>
  <div id="cs400" class="box has-background-white-bis"><h3>400 Language</h3><ul>
    <li><a href="/books/search/dewey/400">400 Language</a></li>
    <li><a href="/books/search/dewey/401">401 Philosophy and theory, international languages</a></li>
    <li><a href="/books/search/dewey/402">402 Miscellany</a></li>
    <li><a href="/books/search/dewey/403">403 Dictionaries, encyclopedias, concordances</a></li>
    <li><a href="/books/search/dewey/404">404 Special topics of language</a></li>
    <li><a href="/books/search/dewey/405">405 Serial publications</a></li>
    <li><a href="/books/search/dewey/406">406 Organizations and management</a></li>
    <li><a href="/books/search/dewey/407">407 Education, research, related topics</a></li>
    <li><a href="/books/search/dewey/408">408 Groups of people</a></li>
    <li><a href="/books/search/dewey/409">409 Geographic treatment and biography</a></li>
  </ul></div><div id="cs410" class="box has-background-white-bis"><h3>410 Linguistics</h3><ul>
  <li><a href="/books/search/dewey/410">410 Linguistics</a></li>
  <li><a href="/books/search/dewey/411">411 Writing systems of standard forms of languages</a></li>
  <li><a href="/books/search/dewey/412">412 Etymology of standard forms of languages</a></li>
  <li><a href="/books/search/dewey/413">413 Dictionaries of standard forms of languages</a></li>
  <li><a href="/books/search/dewey/414">414 Phonology and phonetics of standard forms of languages</a></li>
  <li><a href="/books/search/dewey/415">415 Grammar of standard forms of languages</a></li>
  <li><a href="/books/search/dewey/416">416 No longer used — formerly "Prosody"</a></li>
  <li><a href="/books/search/dewey/417">417 Dialectology and historical linguistics</a></li>
  <li><a href="/books/search/dewey/418">418 Standard usage (Prescriptive linguistics)</a></li>
  <li><a href="/books/search/dewey/419">419 Sign languages</a></li>
</ul></div><div id="cs420" class="box has-background-white-bis"><h3>420 English and Old English languages</h3><ul>
  <li><a href="/books/search/dewey/420">420 English and Old English (Anglo-Saxon)</a></li>
  <li><a href="/books/search/dewey/421">421 Writing system, phonology, phonetics of standard English</a></li>
  <li><a href="/books/search/dewey/422">422 Etymology of standard English</a></li>
  <li><a href="/books/search/dewey/423">423 Dictionaries of standard English</a></li>
  <li><a href="/books/search/dewey/424">424 No longer used — formerly "English thesauruses"</a></li>
  <li><a href="/books/search/dewey/425">425 Grammar of standard English</a></li>
  <li><a href="/books/search/dewey/426">426 No longer used — formerly "English prosodies"</a></li>
  <li><a href="/books/search/dewey/427">427 Historical and geographical variations, modern nongeographic variations of English</a></li>
  <li><a href="/books/search/dewey/428">428 Standard English usage (Prescriptive linguistics)</a></li>
  <li><a href="/books/search/dewey/429">429 Old English (Anglo-Saxon)</a></li>
</ul></div><div id="cs430" class="box has-background-white-bis"><h3>430 German and related languages</h3><ul>
  <li><a href="/books/search/dewey/430">430 German and related languages</a></li>
  <li><a href="/books/search/dewey/431">431 Writing systems, phonology, phonetics of standard German</a></li>
  <li><a href="/books/search/dewey/432">432 Etymology of standard German</a></li>
  <li><a href="/books/search/dewey/433">433 Dictionaries of standard German</a></li>
  <li><a href="/books/search/dewey/434">434 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/435">435 Grammar of standard German</a></li>
  <li><a href="/books/search/dewey/436">436 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/437">437 Historical and geographic variations, modern nongeographic variations of German</a></li>
  <li><a href="/books/search/dewey/438">438 Standard German usage (Prescriptive linguistics)</a></li>
  <li><a href="/books/search/dewey/439">439 Other Germanic languages</a></li>
</ul></div><div id="cs440" class="box has-background-white-bis"><h3>440 French and related languages</h3><ul>
  <li><a href="/books/search/dewey/440">440 French and related Romance languages</a></li>
  <li><a href="/books/search/dewey/441">441 Writing systems, phonology, phonetics of standard French</a></li>
  <li><a href="/books/search/dewey/442">442 Etymology of standard French</a></li>
  <li><a href="/books/search/dewey/443">443 Dictionaries of standard French</a></li>
  <li><a href="/books/search/dewey/444">444 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/445">445 Grammar of standard French</a></li>
  <li><a href="/books/search/dewey/446">446 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/447">447 Historical and geographic variations, modern nongeographic variations of French</a></li>
  <li><a href="/books/search/dewey/448">448 Standard French usage (Prescriptive linguistics)</a></li>
  <li><a href="/books/search/dewey/449">449 Occitan Catalan, Franco-Provençal</a></li>
</ul></div><div id="cs450" class="box has-background-white-bis"><h3>450 Italian, Romanian and related languages</h3><ul>
  <li><a href="/books/search/dewey/450">450 Italian, Dalmatian, Romanian, Rhaetian, Sardinian, Corsican</a></li>
  <li><a href="/books/search/dewey/451">451 Writing systems, phonology, phonetics of standard Italian</a></li>
  <li><a href="/books/search/dewey/452">452 Etymology of standard Italian</a></li>
  <li><a href="/books/search/dewey/453">453 Dictionaries of standard Italian</a></li>
  <li><a href="/books/search/dewey/454">454 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/455">455 Grammar of standard Italian</a></li>
  <li><a href="/books/search/dewey/456">456 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/457">457 Historical and geographic variations, modern nongeographic variations of Italian</a></li>
  <li><a href="/books/search/dewey/458">458 Standard Italian usage (Prescriptive linguistics)</a></li>
  <li><a href="/books/search/dewey/459">459 Romanian, Rhaetian, Sardinian, Corsican</a></li>
</ul></div><div id="cs460" class="box has-background-white-bis"><h3>460 Spanish, Portuguese, Galician</h3><ul>
  <li><a href="/books/search/dewey/460">460 Spanish, Portuguese, Galician</a></li>
  <li><a href="/books/search/dewey/461">461 Writing systems, phonology, phonetics of standard Spanish</a></li>
  <li><a href="/books/search/dewey/462">462 Etymology of standard Spanish</a></li>
  <li><a href="/books/search/dewey/463">463 Dictionaries of standard Spanish</a></li>
  <li><a href="/books/search/dewey/464">464 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/465">465 Grammar of standard Spanish</a></li>
  <li><a href="/books/search/dewey/466">466 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/467">467 Historical and geographic variations, modern nongeographic variations of Spanish</a></li>
  <li><a href="/books/search/dewey/468">468 Standard Spanish usage (Prescriptive linguistics)</a></li>
  <li><a href="/books/search/dewey/469">469 Portuguese</a></li>
</ul></div><div id="cs470" class="box has-background-white-bis"><h3>470 Latin and Italic languages</h3><ul>
  <li><a href="/books/search/dewey/470">470 Latin and related Italic languages</a></li>
  <li><a href="/books/search/dewey/471">471 Writing systems, phonology, phonetics of classical Latin</a></li>
  <li><a href="/books/search/dewey/472">472 Etymology of classical Latin</a></li>
  <li><a href="/books/search/dewey/473">473 Dictionaries of classical Latin</a></li>
  <li><a href="/books/search/dewey/474">474 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/475">475 Grammar of classical Latin</a></li>
  <li><a href="/books/search/dewey/476">476 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/477">477 Old, postclassical, Vulgar Latin</a></li>
  <li><a href="/books/search/dewey/478">478 Classical Latin usage (Prescriptive linguistics)</a></li>
  <li><a href="/books/search/dewey/479">479 Other Italic languages</a></li>
</ul></div><div id="cs480" class="box has-background-white-bis"><h3>480 Classical and modern Greek languages</h3><ul>
  <li><a href="/books/search/dewey/480">480 Classical Greek and related Hellenic languages</a></li>
  <li><a href="/books/search/dewey/481">481 Writing systems, phonology, phonetics of classical Greek</a></li>
  <li><a href="/books/search/dewey/482">482 Etymology of classical Greek</a></li>
  <li><a href="/books/search/dewey/483">483 Dictionaries of classical Greek</a></li>
  <li><a href="/books/search/dewey/484">484 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/485">485 Grammar of classical Greek</a></li>
  <li><a href="/books/search/dewey/486">486 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/487">487 Preclassical and postclassical Greek</a></li>
  <li><a href="/books/search/dewey/488">488 Classical Greek usage (Prescriptive linguistics)</a></li>
  <li><a href="/books/search/dewey/489">489 Other Hellenic languages</a></li>
</ul></div><div id="cs490" class="box has-background-white-bis"><h3>490 Other languages</h3><ul>
  <li><a href="/books/search/dewey/490">490 Other languages</a></li>
  <li><a href="/books/search/dewey/491">491 East Indo-European and Celtic languages</a></li>
  <li><a href="/books/search/dewey/492">492 Afro-Asiatic languages</a></li>
  <li><a href="/books/search/dewey/493">493 Non-Semitic Afro-Asiatic languages</a></li>
  <li><a href="/books/search/dewey/494">494 Altic, Uralic, Hyperborean, Dravidian languages, miscellaneous languages of south Asia</a></li>
  <li><a href="/books/search/dewey/495">495 Languages of East and Southeast Asia</a></li>
  <li><a href="/books/search/dewey/496">496 African languages</a></li>
  <li><a href="/books/search/dewey/497">497 North American native languages</a></li>
  <li><a href="/books/search/dewey/498">498 South American native languages</a></li>
  <li><a href="/books/search/dewey/499">499 Non-Austronesian languages of Oceania, Austronesian languages, miscellaneous languages</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c500" >Class 500 – Science</h3><div>
  <div id="cs500" class="box has-background-white-bis"><h3>500 Science</h3><ul>
    <li><a href="/books/search/dewey/500">500 Natural sciences and mathematics</a></li>
    <li><a href="/books/search/dewey/501">501 Philosophy and theory</a></li>
    <li><a href="/books/search/dewey/502">502 Miscellany</a></li>
    <li><a href="/books/search/dewey/503">503 Dictionaries, encyclopedias, concordances</a></li>
    <li><a href="/books/search/dewey/504">504 Not assigned or no longer used</a></li>
    <li><a href="/books/search/dewey/505">505 Serial publications</a></li>
    <li><a href="/books/search/dewey/506">506 Organizations and management</a></li>
    <li><a href="/books/search/dewey/507">507 Education, research, related topics</a></li>
    <li><a href="/books/search/dewey/508">508 Natural history</a></li>
    <li><a href="/books/search/dewey/509">509 History, geographic treatment, biography</a></li>
  </ul></div><div id="cs510" class="box has-background-white-bis"><h3>510 Mathematics</h3><ul>
  <li><a href="/books/search/dewey/510">510 Mathematics</a></li>
  <li><a href="/books/search/dewey/511">511 General principles of mathematics</a></li>
  <li><a href="/books/search/dewey/512">512 Algebra</a></li>
  <li><a href="/books/search/dewey/513">513 Arithmetic</a></li>
  <li><a href="/books/search/dewey/514">514 Topology</a></li>
  <li><a href="/books/search/dewey/515">515 Analysis</a></li>
  <li><a href="/books/search/dewey/516">516 Geometry</a></li>
  <li><a href="/books/search/dewey/517">517 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/518">518 Numerical analysis</a></li>
  <li><a href="/books/search/dewey/519">519 Probabilities and applied mathematics</a></li>
</ul></div><div id="cs520" class="box has-background-white-bis"><h3>520 Astronomy</h3><ul>
  <li><a href="/books/search/dewey/520">520 Astronomy and allied sciences</a></li>
  <li><a href="/books/search/dewey/521">521 Celestial mechanics</a></li>
  <li><a href="/books/search/dewey/522">522 Techniques, procedures, apparatus, equipment, materials</a></li>
  <li><a href="/books/search/dewey/523">523 Specific celestial bodies and phenomena</a></li>
  <li><a href="/books/search/dewey/524">524 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/525">525 Earth (Astronomical geography)</a></li>
  <li><a href="/books/search/dewey/526">526 Mathematical geography</a></li>
  <li><a href="/books/search/dewey/527">527 Celestial navigation</a></li>
  <li><a href="/books/search/dewey/528">528 Ephemerides</a></li>
  <li><a href="/books/search/dewey/529">529 Chronology</a></li>
</ul></div><div id="cs530" class="box has-background-white-bis"><h3>530 Physics</h3><ul>
  <li><a href="/books/search/dewey/530">530 Physics</a></li>
  <li><a href="/books/search/dewey/531">531 Classical mechanics</a></li>
  <li><a href="/books/search/dewey/532">532 Fluid mechanics</a></li>
  <li><a href="/books/search/dewey/533">533 Pneumatics (Gas mechanics)</a></li>
  <li><a href="/books/search/dewey/534">534 Sound and related vibrations</a></li>
  <li><a href="/books/search/dewey/535">535 Light and related radiation</a></li>
  <li><a href="/books/search/dewey/536">536 Heat</a></li>
  <li><a href="/books/search/dewey/537">537 Electricity and electronics</a></li>
  <li><a href="/books/search/dewey/538">538 Magnetism</a></li>
  <li><a href="/books/search/dewey/539">539 Modern physics</a></li>
</ul></div><div id="cs540" class="box has-background-white-bis"><h3>540 Chemistry</h3><ul>
  <li><a href="/books/search/dewey/540">540 Chemistry and allied sciences</a></li>
  <li><a href="/books/search/dewey/541">541 Physical chemistry</a></li>
  <li><a href="/books/search/dewey/542">542 Techniques, procedures, apparatus, equipment, materials</a></li>
  <li><a href="/books/search/dewey/543">543 Analytical chemistry</a></li>
  <li><a href="/books/search/dewey/544">544 No longer used — formerly "Qualitative analysis"</a></li>
  <li><a href="/books/search/dewey/545">545 No longer used — formerly "Quantitative analysis"</a></li>
  <li><a href="/books/search/dewey/546">546 Inorganic chemistry</a></li>
  <li><a href="/books/search/dewey/547">547 Organic chemistry</a></li>
  <li><a href="/books/search/dewey/548">548 Crystallography</a></li>
  <li><a href="/books/search/dewey/549">549 Mineralogy</a></li>
</ul></div><div id="cs550" class="box has-background-white-bis"><h3>550 Earth sciences and geology</h3><ul>
  <li><a href="/books/search/dewey/550">550 Earth sciences</a></li>
  <li><a href="/books/search/dewey/551">551 Geology, hydrology, meteorology</a></li>
  <li><a href="/books/search/dewey/552">552 Petrology</a></li>
  <li><a href="/books/search/dewey/553">553 Economic geology</a></li>
  <li><a href="/books/search/dewey/554">554 Earth sciences of Europe</a></li>
  <li><a href="/books/search/dewey/555">555 Earth sciences of Asia</a></li>
  <li><a href="/books/search/dewey/556">556 Earth sciences of Africa</a></li>
  <li><a href="/books/search/dewey/557">557 Earth sciences of North America</a></li>
  <li><a href="/books/search/dewey/558">558 Earth sciences of South America</a></li>
  <li><a href="/books/search/dewey/559">559 Earth sciences of Australasia, Pacific Ocean islands, Atlantic Ocean islands, Arctic islands, Antarctica, extraterrestrial worlds</a></li>
</ul></div><div id="cs560" class="box has-background-white-bis"><h3>560 Fossils and prehistoric life</h3><ul>
  <li><a href="/books/search/dewey/560">560 Paleontology</a></li>
  <li><a href="/books/search/dewey/561">561 Paleobotany, fossil microorganisms</a></li>
  <li><a href="/books/search/dewey/562">562 Fossil invertebrates</a></li>
  <li><a href="/books/search/dewey/563">563 Miscellaneous fossil marine and seashore invertebrates</a></li>
  <li><a href="/books/search/dewey/564">564 Fossil Mollusca and Molluscoidea</a></li>
  <li><a href="/books/search/dewey/565">565 Fossil Arthropoda</a></li>
  <li><a href="/books/search/dewey/566">566 Fossil Chordata</a></li>
  <li><a href="/books/search/dewey/567">567 Fossil cold-blooded vertebrates</a></li>
  <li><a href="/books/search/dewey/568">568 Fossil Aves (birds)</a></li>
  <li><a href="/books/search/dewey/569">569 Fossil Mammalia</a></li>
</ul></div><div id="cs570" class="box has-background-white-bis"><h3>570 Biology</h3><ul>
  <li><a href="/books/search/dewey/570">570 Biology</a></li>
  <li><a href="/books/search/dewey/571">571 Physiology and related subjects</a></li>
  <li><a href="/books/search/dewey/572">572 Biochemistry</a></li>
  <li><a href="/books/search/dewey/573">573 Specific physiological systems in animals, regional histology and physiology in animals</a></li>
  <li><a href="/books/search/dewey/574">574 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/575">575 Specific parts of and physiological systems in plants</a></li>
  <li><a href="/books/search/dewey/576">576 Genetics and evolution</a></li>
  <li><a href="/books/search/dewey/577">577 Ecology</a></li>
  <li><a href="/books/search/dewey/578">578 Natural history of organisms and related subjects</a></li>
  <li><a href="/books/search/dewey/579">579 Natural history of microorganisms, fungi, algae</a></li>
</ul></div><div id="cs580" class="box has-background-white-bis"><h3>580 Plants</h3><ul>
  <li><a href="/books/search/dewey/580">580 Plants</a></li>
  <li><a href="/books/search/dewey/581">581 Specific topics in natural history of plants</a></li>
  <li><a href="/books/search/dewey/582">582 Plants noted for specific vegetative characteristics and flowers</a></li>
  <li><a href="/books/search/dewey/583">583 Magnoliopsida (Dicotyledones)</a></li>
  <li><a href="/books/search/dewey/584">584 Liliopsida (Monocotyledones)</a></li>
  <li><a href="/books/search/dewey/585">585 Pinophyta (Gymnosperms)</a></li>
  <li><a href="/books/search/dewey/586">586 Cryptogamia (Seedless plants)</a></li>
  <li><a href="/books/search/dewey/587">587 Pteridophyta</a></li>
  <li><a href="/books/search/dewey/588">588 Bryophyta</a></li>
  <li><a href="/books/search/dewey/589">589 No longer used—formerly Forestry</a></li>
</ul></div><div id="cs590" class="box has-background-white-bis"><h3>590 Animals (Zoology)</h3><ul>
  <li><a href="/books/search/dewey/590">590 Animals</a></li>
  <li><a href="/books/search/dewey/591">591 Specific topics in natural history of animals</a></li>
  <li><a href="/books/search/dewey/592">592 Invertebrates</a></li>
  <li><a href="/books/search/dewey/593">593 Miscellaneous marine and seashore invertebrates</a></li>
  <li><a href="/books/search/dewey/594">594 Mollusca and Molluscoidea</a></li>
  <li><a href="/books/search/dewey/595">595 Arthropoda</a></li>
  <li><a href="/books/search/dewey/596">596 Chordata</a></li>
  <li><a href="/books/search/dewey/597">597 Cold-blooded vertebrates</a></li>
  <li><a href="/books/search/dewey/598">598 Aves (Birds)</a></li>
  <li><a href="/books/search/dewey/599">599 Mammalia (Mammals)</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c600" >Class 600 – Technology</h3><div>
  <div id="cs600" class="box has-background-white-bis"><h3>600 Technology</h3><ul>
    <li><a href="/books/search/dewey/600">600 Technology (Applied sciences)</a></li>
    <li><a href="/books/search/dewey/601">601 Philosophy and theory</a></li>
    <li><a href="/books/search/dewey/602">602 Miscellany</a></li>
    <li><a href="/books/search/dewey/603">603 Dictionaries, encyclopedias, concordances</a></li>
    <li><a href="/books/search/dewey/604">604 Technical drawing, hazardous materials technology; groups of people</a></li>
    <li><a href="/books/search/dewey/605">605 Serial publications</a></li>
    <li><a href="/books/search/dewey/606">606 Organizations</a></li>
    <li><a href="/books/search/dewey/607">607 Education, research, related topics</a></li>
    <li><a href="/books/search/dewey/608">608 Patents</a></li>
    <li><a href="/books/search/dewey/609">609 History, geographic treatment, biography</a></li>
  </ul></div><div id="cs610" class="box has-background-white-bis"><h3>610 Medicine and health</h3><ul>
  <li><a href="/books/search/dewey/610">610 Medicine and health</a></li>
  <li><a href="/books/search/dewey/611">611 Human anatomy, cytology, histology</a></li>
  <li><a href="/books/search/dewey/612">612 Human physiology</a></li>
  <li><a href="/books/search/dewey/613">613 Personal health and safety</a></li>
  <li><a href="/books/search/dewey/614">614 Forensic medicine; incidence of injuries, wounds, disease; public preventive medicine</a></li>
  <li><a href="/books/search/dewey/615">615 Pharmacology and therapeutics</a></li>
  <li><a href="/books/search/dewey/616">616 Diseases</a></li>
  <li><a href="/books/search/dewey/617">617 Surgery, regional medicine, dentistry, ophthalmology, otology, audiology</a></li>
  <li><a href="/books/search/dewey/618">618 Gynecology, obstetrics, pediatrics, geriatrics</a></li>
  <li><a href="/books/search/dewey/619">619 No longer used—formerly Experimental medicine</a></li>
</ul></div><div id="cs620" class="box has-background-white-bis"><h3>620 Engineering</h3><ul>
  <li><a href="/books/search/dewey/620">620 Engineering and applied operations</a></li>
  <li><a href="/books/search/dewey/621">621 Applied physics</a></li>
  <li><a href="/books/search/dewey/622">622 Mining and related operations</a></li>
  <li><a href="/books/search/dewey/623">623 Military and nautical engineering</a></li>
  <li><a href="/books/search/dewey/624">624 Civil engineering</a></li>
  <li><a href="/books/search/dewey/625">625 Engineering of railroads, roads</a></li>
  <li><a href="/books/search/dewey/626">626 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/627">627 Hydraulic engineering</a></li>
  <li><a href="/books/search/dewey/628">628 Sanitary engineering</a></li>
  <li><a href="/books/search/dewey/629">629 Other branches of engineering</a></li>
</ul></div><div id="cs630" class="box has-background-white-bis"><h3>630 Agriculture</h3><ul>
  <li><a href="/books/search/dewey/630">630 Agriculture and related technologies</a></li>
  <li><a href="/books/search/dewey/631">631 Specific techniques; apparatus, equipment, materials</a></li>
  <li><a href="/books/search/dewey/632">632 Plant injuries, diseases, pests</a></li>
  <li><a href="/books/search/dewey/633">633 Field and plantation crops</a></li>
  <li><a href="/books/search/dewey/634">634 Orchards, fruits, forestry</a></li>
  <li><a href="/books/search/dewey/635">635 Garden crops (Horticulture)</a></li>
  <li><a href="/books/search/dewey/636">636 Animal husbandry</a></li>
  <li><a href="/books/search/dewey/637">637 Processing dairy and related products</a></li>
  <li><a href="/books/search/dewey/638">638 Insect culture</a></li>
  <li><a href="/books/search/dewey/639">639 Hunting, fishing, conservation, related technologies</a></li>
</ul></div><div id="cs640" class="box has-background-white-bis"><h3>640 Home and family management</h3><ul>
  <li><a href="/books/search/dewey/640">640 Home and family management</a></li>
  <li><a href="/books/search/dewey/641">641 Food and drink</a></li>
  <li><a href="/books/search/dewey/642">642 Meals and table service</a></li>
  <li><a href="/books/search/dewey/643">643 Housing and household equipment</a></li>
  <li><a href="/books/search/dewey/644">644 Household utilities</a></li>
  <li><a href="/books/search/dewey/645">645 Household furnishings</a></li>
  <li><a href="/books/search/dewey/646">646 Sewing, clothing, management of personal and family life</a></li>
  <li><a href="/books/search/dewey/647">647 Management of public households (Institutional housekeeping)</a></li>
  <li><a href="/books/search/dewey/648">648 Housekeeping</a></li>
  <li><a href="/books/search/dewey/649">649 Child rearing; home care of people with disabilities and illnesses</a></li>
</ul></div><div id="cs650" class="box has-background-white-bis"><h3>650 Management and public relations</h3><ul>
  <li><a href="/books/search/dewey/650">650 Management and auxiliary services</a></li>
  <li><a href="/books/search/dewey/651">651 Office services</a></li>
  <li><a href="/books/search/dewey/652">652 Processes of written communication</a></li>
  <li><a href="/books/search/dewey/653">653 Shorthand</a></li>
  <li><a href="/books/search/dewey/654–656">654–656 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/657">657 Accounting</a></li>
  <li><a href="/books/search/dewey/658">658 General management</a></li>
  <li><a href="/books/search/dewey/659">659 Advertising and public relations</a></li>
</ul></div><div id="cs660" class="box has-background-white-bis"><h3>660 Chemical engineering</h3><ul>
  <li><a href="/books/search/dewey/660">660 Chemical engineering and related technologies</a></li>
  <li><a href="/books/search/dewey/661">661 Technology of industrial chemicals</a></li>
  <li><a href="/books/search/dewey/662">662 Technology of explosives, fuels, related products</a></li>
  <li><a href="/books/search/dewey/663">663 Beverage technology</a></li>
  <li><a href="/books/search/dewey/664">664 Food technology</a></li>
  <li><a href="/books/search/dewey/665">665 Technology of industrial oils, fats, waxes, gases</a></li>
  <li><a href="/books/search/dewey/666">666 Ceramic and allied technologies</a></li>
  <li><a href="/books/search/dewey/667">667 Cleaning, color, coating, related technologies</a></li>
  <li><a href="/books/search/dewey/668">668 Technology of other organic products</a></li>
  <li><a href="/books/search/dewey/669">669 Metallurgy</a></li>
</ul></div><div id="cs670" class="box has-background-white-bis"><h3>670 Manufacturing</h3><ul>
  <li><a href="/books/search/dewey/670">670 Manufacturing</a></li>
  <li><a href="/books/search/dewey/671">671 Metalworking processes and primary metal products</a></li>
  <li><a href="/books/search/dewey/672">672 Iron, steel, other iron alloys</a></li>
  <li><a href="/books/search/dewey/673">673 Nonferrous metals</a></li>
  <li><a href="/books/search/dewey/674">674 Lumber processing, wood products, cork</a></li>
  <li><a href="/books/search/dewey/675">675 Leather and fur processing</a></li>
  <li><a href="/books/search/dewey/676">676 Pulp and paper technology</a></li>
  <li><a href="/books/search/dewey/677">677 Textiles</a></li>
  <li><a href="/books/search/dewey/678">678 Elastomers and elastomer products</a></li>
  <li><a href="/books/search/dewey/679">679 Other products of specific kinds of materials</a></li>
</ul></div><div id="cs680" class="box has-background-white-bis"><h3>680 Manufacture for specific uses</h3><ul>
  <li><a href="/books/search/dewey/680">680 Manufacture of products for specific uses</a></li>
  <li><a href="/books/search/dewey/681">681 Precision instruments and other devices</a></li>
  <li><a href="/books/search/dewey/682">682 Small forge work (Blacksmithing)</a></li>
  <li><a href="/books/search/dewey/683">683 Hardware and household appliances</a></li>
  <li><a href="/books/search/dewey/684">684 Furnishings and home workshops</a></li>
  <li><a href="/books/search/dewey/685">685 Leather and fur goods, and related products</a></li>
  <li><a href="/books/search/dewey/686">686 Printing and related activities</a></li>
  <li><a href="/books/search/dewey/687">687 Clothing and accessories</a></li>
  <li><a href="/books/search/dewey/688">688 Other final products, and packaging technology</a></li>
  <li><a href="/books/search/dewey/689">689 Not assigned or no longer used</a></li>
</ul></div><div id="cs690" class="box has-background-white-bis"><h3>690 Construction of buildings</h3><ul>
  <li><a href="/books/search/dewey/690">690 Construction of buildings</a></li>
  <li><a href="/books/search/dewey/691">691 Building materials</a></li>
  <li><a href="/books/search/dewey/692">692 Auxiliary construction practices</a></li>
  <li><a href="/books/search/dewey/693">693 Construction in specific types of materials and for specific purposes</a></li>
  <li><a href="/books/search/dewey/694">694 Wood construction</a></li>
  <li><a href="/books/search/dewey/695">695 Roof covering</a></li>
  <li><a href="/books/search/dewey/696">696 Utilities</a></li>
  <li><a href="/books/search/dewey/697">697 Heating, ventilating, air-conditioning engineering</a></li>
  <li><a href="/books/search/dewey/698">698 Detail finishing</a></li>
  <li><a href="/books/search/dewey/699">699 Not assigned or no longer used</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c700" >Class 700 – Arts and recreation</h3><div>
  <div id="cs700" class="box has-background-white-bis"><h3>700 Arts</h3><ul>
    <li><a href="/books/search/dewey/700">700 The Arts</a></li>
    <li><a href="/books/search/dewey/701">701 Philosophy and theory of fine and decorative arts</a></li>
    <li><a href="/books/search/dewey/702">702 Miscellany of fine and decorative arts</a></li>
    <li><a href="/books/search/dewey/703">703 Dictionaries, encyclopedias, concordances of fine and decorative arts</a></li>
    <li><a href="/books/search/dewey/704">704 Special topics in fine and decorative arts</a></li>
    <li><a href="/books/search/dewey/705">705 Serial publications of fine and decorative arts</a></li>
    <li><a href="/books/search/dewey/706">706 Organizations and management of fine and decorative arts</a></li>
    <li><a href="/books/search/dewey/707">707 Education, research, related topics of fine and decorative arts</a></li>
    <li><a href="/books/search/dewey/708">708 Galleries, museums, private collections of fine and decorative arts</a></li>
    <li><a href="/books/search/dewey/709">709 History, geographic treatment, biography</a></li>
  </ul></div><div id="cs710" class="box has-background-white-bis"><h3>710 Area planning and landscape architecture</h3><ul>
  <li><a href="/books/search/dewey/710">710 Area planning and landscape architecture</a></li>
  <li><a href="/books/search/dewey/711">711 Area planning (Civic art)</a></li>
  <li><a href="/books/search/dewey/712">712 Landscape architecture (Landscape design)</a></li>
  <li><a href="/books/search/dewey/713">713 Landscape architecture of trafficways</a></li>
  <li><a href="/books/search/dewey/714">714 Water features in landscape architecture</a></li>
  <li><a href="/books/search/dewey/715">715 Woody plants in landscape architecture</a></li>
  <li><a href="/books/search/dewey/716">716 Herbaceous plants in landscape architecture</a></li>
  <li><a href="/books/search/dewey/717">717 Structures in landscape architecture</a></li>
  <li><a href="/books/search/dewey/718">718 Landscape design of cemeteries</a></li>
  <li><a href="/books/search/dewey/719">719 Natural landscapes</a></li>
</ul></div><div id="cs720" class="box has-background-white-bis"><h3>720 Architecture</h3><ul>
  <li><a href="/books/search/dewey/720">720 Architecture</a></li>
  <li><a href="/books/search/dewey/721">721 Architectural materials and structural elements</a></li>
  <li><a href="/books/search/dewey/722">722 Architecture from earliest times to c. 300</a></li>
  <li><a href="/books/search/dewey/723">723 Architecture from c. 300 to 1399</a></li>
  <li><a href="/books/search/dewey/724">724 Architecture from 1400</a></li>
  <li><a href="/books/search/dewey/725">725 Public structures</a></li>
  <li><a href="/books/search/dewey/726">726 Buildings for religious and related purposes</a></li>
  <li><a href="/books/search/dewey/727">727 Buildings for educational and research purposes</a></li>
  <li><a href="/books/search/dewey/728">728 Residential and related buildings</a></li>
  <li><a href="/books/search/dewey/729">729 Design and decoration of structures and accessories</a></li>
</ul></div><div id="cs730" class="box has-background-white-bis"><h3>730 Sculpture, ceramics and metalwork</h3><ul>
  <li><a href="/books/search/dewey/730">730 Sculpture and related arts</a></li>
  <li><a href="/books/search/dewey/731">731 Processes, forms, subjects of sculpture</a></li>
  <li><a href="/books/search/dewey/732">732 Sculpture from earliest times to c. 500, sculpture of non-literate peoples</a></li>
  <li><a href="/books/search/dewey/733">733 Greek, Etruscan, Roman sculpture</a></li>
  <li><a href="/books/search/dewey/734">734 Sculpture from ca 500 to 1399</a></li>
  <li><a href="/books/search/dewey/735">735 Sculpture from 1400</a></li>
  <li><a href="/books/search/dewey/736">736 Carving and carvings</a></li>
  <li><a href="/books/search/dewey/737">737 Numismatics and sigillography</a></li>
  <li><a href="/books/search/dewey/738">738 Ceramic arts</a></li>
  <li><a href="/books/search/dewey/739">739 Art metalwork</a></li>
</ul></div><div id="cs740" class="box has-background-white-bis"><h3>740 Graphic arts and decorative arts</h3><ul>
  <li><a href="/books/search/dewey/740">740 Graphic arts</a></li>
  <li><a href="/books/search/dewey/741">741 Drawing and drawings</a></li>
  <li><a href="/books/search/dewey/742">742 Perspective in drawing</a></li>
  <li><a href="/books/search/dewey/743">743 Drawing and drawings by subject</a></li>
  <li><a href="/books/search/dewey/744">744 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/745">745 Decorative arts</a></li>
  <li><a href="/books/search/dewey/746">746 Textile arts</a></li>
  <li><a href="/books/search/dewey/747">747 Interior decoration</a></li>
  <li><a href="/books/search/dewey/748">748 Glass</a></li>
  <li><a href="/books/search/dewey/749">749 Furniture and accessories</a></li>
</ul></div><div id="cs750" class="box has-background-white-bis"><h3>750 Painting</h3><ul>
  <li><a href="/books/search/dewey/750">750 Painting and paintings</a></li>
  <li><a href="/books/search/dewey/751">751 Techniques, procedures, apparatus, equipment, materials, forms</a></li>
  <li><a href="/books/search/dewey/752">752 Color</a></li>
  <li><a href="/books/search/dewey/753">753 Symbolism, allegory, mythology, legend</a></li>
  <li><a href="/books/search/dewey/754">754 Genre paintings</a></li>
  <li><a href="/books/search/dewey/755">755 Religion</a></li>
  <li><a href="/books/search/dewey/756">756 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/757">757 Human figures</a></li>
  <li><a href="/books/search/dewey/758">758 Nature, architectural subjects and cityscapes, other specific subjects</a></li>
  <li><a href="/books/search/dewey/759">759 History, geographic treatment, biography</a></li>
</ul></div><div id="cs760" class="box has-background-white-bis"><h3>760 Printmaking and prints</h3><ul>
  <li><a href="/books/search/dewey/760">760 Printmaking and prints</a></li>
  <li><a href="/books/search/dewey/761">761 Relief processes (Block printing)</a></li>
  <li><a href="/books/search/dewey/762">762 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/763">763 Lithographic processes (Planographic processes)</a></li>
  <li><a href="/books/search/dewey/764">764 Chromolithography and serigraphy</a></li>
  <li><a href="/books/search/dewey/765">765 Metal engraving</a></li>
  <li><a href="/books/search/dewey/766">766 Mezzotinting, aquatinting, and related processes</a></li>
  <li><a href="/books/search/dewey/767">767 Etching and drypoint</a></li>
  <li><a href="/books/search/dewey/768">768 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/769">769 Prints</a></li>
</ul></div><div id="cs770" class="box has-background-white-bis"><h3>770 Photography, computer art, film, video</h3><ul>
  <li><a href="/books/search/dewey/770">770 Photography, computer art, cinematography, videography</a></li>
  <li><a href="/books/search/dewey/771">771 Techniques, procedures, apparatus, equipment, materials</a></li>
  <li><a href="/books/search/dewey/772">772 Metallic salt processes</a></li>
  <li><a href="/books/search/dewey/773">773 Pigment processes of printing</a></li>
  <li><a href="/books/search/dewey/774">774 No longer used—formerly Holography</a></li>
  <li><a href="/books/search/dewey/775">775 No longer used—formerly Digital photography</a></li>
  <li><a href="/books/search/dewey/776">776 Computer art (Digital art)</a></li>
  <li><a href="/books/search/dewey/777">777 Cinematography and Videography</a></li>
  <li><a href="/books/search/dewey/778">778 Specific fields and special kinds of photography</a></li>
  <li><a href="/books/search/dewey/779">779 Photographic images</a></li>
</ul></div><div id="cs780" class="box has-background-white-bis"><h3>780 Music</h3><ul>
  <li><a href="/books/search/dewey/780">780 Music</a></li>
  <li><a href="/books/search/dewey/781">781 General principles and musical forms</a></li>
  <li><a href="/books/search/dewey/782">782 Vocal music</a></li>
  <li><a href="/books/search/dewey/783">783 Music for single voices</a></li>
  <li><a href="/books/search/dewey/784">784 Instruments and Instrumental ensembles and their music</a></li>
  <li><a href="/books/search/dewey/785">785 Ensembles with only one instrument per part</a></li>
  <li><a href="/books/search/dewey/786">786 Keyboard, mechanical, electrophonic, percussion instruments</a></li>
  <li><a href="/books/search/dewey/787">787 Stringed instruments (Chordophones)</a></li>
  <li><a href="/books/search/dewey/788">788 Wind instruments (Aerophones)</a></li>
  <li><a href="/books/search/dewey/789">789 Unassigned or no longer used</a></li>
</ul></div><div id="cs790" class="box has-background-white-bis"><h3>790 Outline of sports, games and entertainment</h3><ul>
  <li><a href="/books/search/dewey/790">790 Recreational and performing arts</a></li>
  <li><a href="/books/search/dewey/791">791 Public performances</a></li>
  <li><a href="/books/search/dewey/792">792 Stage presentations</a></li>
  <li><a href="/books/search/dewey/793">793 Indoor games and amusements</a></li>
  <li><a href="/books/search/dewey/794">794 Indoor games of skill</a></li>
  <li><a href="/books/search/dewey/795">795 Games of chance</a></li>
  <li><a href="/books/search/dewey/796">796 Athletic and outdoor sports and games</a></li>
  <li><a href="/books/search/dewey/797">797 Aquatic and air sports</a></li>
  <li><a href="/books/search/dewey/798">798 Equestrian sports and animal racing</a></li>
  <li><a href="/books/search/dewey/799">799 Fishing, hunting, shooting</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c800" >Class 800 – Literature</h3><div>
  <div id="cs800" class="box has-background-white-bis"><h3>800 Literature, rhetoric and criticism</h3><ul>
    <li><a href="/books/search/dewey/800">800 Literature (Belles-lettres) and rhetoric</a></li>
    <li><a href="/books/search/dewey/801">801 Philosophy and theory</a></li>
    <li><a href="/books/search/dewey/802">802 Miscellany</a></li>
    <li><a href="/books/search/dewey/803">803 Dictionaries, encyclopedias, concordances</a></li>
    <li><a href="/books/search/dewey/804">804 Not assigned or no longer used</a></li>
    <li><a href="/books/search/dewey/805">805 Serial publications</a></li>
    <li><a href="/books/search/dewey/806">806 Organizations and management</a></li>
    <li><a href="/books/search/dewey/807">807 Education, research, related topics</a></li>
    <li><a href="/books/search/dewey/808">808 Rhetoric and collections of literary texts from more than two literatures</a></li>
    <li><a href="/books/search/dewey/809">809 History, description, critical appraisal of more than two literatures</a></li>
  </ul></div><div id="cs810" class="box has-background-white-bis"><h3>810 American literature in English</h3><ul>
  <li><a href="/books/search/dewey/810">810 American literature in English</a></li>
  <li><a href="/books/search/dewey/811">811 American poetry in English</a></li>
  <li><a href="/books/search/dewey/812">812 American drama in English</a></li>
  <li><a href="/books/search/dewey/813">813 American fiction in English</a></li>
  <li><a href="/books/search/dewey/814">814 American essays in English</a></li>
  <li><a href="/books/search/dewey/815">815 American speeches in English</a></li>
  <li><a href="/books/search/dewey/816">816 American letters in English</a></li>
  <li><a href="/books/search/dewey/817">817 American humor and satire in English</a></li>
  <li><a href="/books/search/dewey/818">818 American miscellaneous writings in English</a></li>
  <li><a href="/books/search/dewey/819">819 No longer used—formerly Puzzle activities</a></li>
</ul></div><div id="cs820" class="box has-background-white-bis"><h3>820 English and Old English literatures</h3><ul>
  <li><a href="/books/search/dewey/820">820 English and Old English (Anglo-Saxon) literatures</a></li>
  <li><a href="/books/search/dewey/821">821 English Poetry</a></li>
  <li><a href="/books/search/dewey/822">822 English drama</a></li>
  <li><a href="/books/search/dewey/823">823 English fiction</a></li>
  <li><a href="/books/search/dewey/824">824 English essays</a></li>
  <li><a href="/books/search/dewey/825">825 English speeches</a></li>
  <li><a href="/books/search/dewey/826">826 English letters</a></li>
  <li><a href="/books/search/dewey/827">827 English humor and satire</a></li>
  <li><a href="/books/search/dewey/828">828 English miscellaneous writings</a></li>
  <li><a href="/books/search/dewey/829">829 Old English (Anglo-Saxon) literature</a></li>
</ul></div><div id="cs830" class="box has-background-white-bis"><h3>830 German and related literatures</h3><ul>
  <li><a href="/books/search/dewey/830">830 German literature and literatures of related languages</a></li>
  <li><a href="/books/search/dewey/831">831 German poetry</a></li>
  <li><a href="/books/search/dewey/832">832 German drama</a></li>
  <li><a href="/books/search/dewey/833">833 German fiction</a></li>
  <li><a href="/books/search/dewey/834">834 German essays</a></li>
  <li><a href="/books/search/dewey/835">835 German speeches</a></li>
  <li><a href="/books/search/dewey/836">836 German letters</a></li>
  <li><a href="/books/search/dewey/837">837 German humor and satire</a></li>
  <li><a href="/books/search/dewey/838">838 German miscellaneous writings</a></li>
  <li><a href="/books/search/dewey/839">839 Other Germanic literatures</a></li>
</ul></div><div id="cs840" class="box has-background-white-bis"><h3>840 French and related literatures</h3><ul>
  <li><a href="/books/search/dewey/840">840 French literature and literatures of related Romance languages</a></li>
  <li><a href="/books/search/dewey/841">841 French poetry</a></li>
  <li><a href="/books/search/dewey/842">842 French drama</a></li>
  <li><a href="/books/search/dewey/843">843 French fiction</a></li>
  <li><a href="/books/search/dewey/844">844 French essays</a></li>
  <li><a href="/books/search/dewey/845">845 French speeches</a></li>
  <li><a href="/books/search/dewey/846">846 French letters</a></li>
  <li><a href="/books/search/dewey/847">847 French humor and satire</a></li>
  <li><a href="/books/search/dewey/848">848 French miscellaneous writings</a></li>
  <li><a href="/books/search/dewey/849">849 Occitan, Catalan, Franco-Provençal literatures</a></li>
</ul></div><div id="cs850" class="box has-background-white-bis"><h3>850 Italian, Romanian and related literatures</h3><ul>
  <li><a href="/books/search/dewey/850">850 Literatures of Italian, Dalmatian, Romanian, Rhaetian, Sardinian, Corsican languages</a></li>
  <li><a href="/books/search/dewey/851">851 Italian poetry</a></li>
  <li><a href="/books/search/dewey/852">852 Italian drama</a></li>
  <li><a href="/books/search/dewey/853">853 Italian fiction</a></li>
  <li><a href="/books/search/dewey/854">854 Italian essays</a></li>
  <li><a href="/books/search/dewey/855">855 Italian speeches</a></li>
  <li><a href="/books/search/dewey/856">856 Italian letters</a></li>
  <li><a href="/books/search/dewey/857">857 Italian humor and satire</a></li>
  <li><a href="/books/search/dewey/858">858 Italian miscellaneous writings</a></li>
  <li><a href="/books/search/dewey/859">859 Literatures of Romanian, Rhaetian, Sardinian, Corsican languages</a></li>
</ul></div><div id="cs860" class="box has-background-white-bis"><h3>860 Spanish, Portuguese, Galician literatures</h3><ul>
  <li><a href="/books/search/dewey/860">860 Literatures of Spanish, Portuguese, Galician languages</a></li>
  <li><a href="/books/search/dewey/861">861 Spanish poetry</a></li>
  <li><a href="/books/search/dewey/862">862 Spanish drama</a></li>
  <li><a href="/books/search/dewey/863">863 Spanish fiction</a></li>
  <li><a href="/books/search/dewey/864">864 Spanish essays</a></li>
  <li><a href="/books/search/dewey/865">865 Spanish speeches</a></li>
  <li><a href="/books/search/dewey/866">866 Spanish letters</a></li>
  <li><a href="/books/search/dewey/867">867 Spanish humor and satire</a></li>
  <li><a href="/books/search/dewey/868">868 Spanish miscellaneous writings</a></li>
  <li><a href="/books/search/dewey/869">869 Literatures of Portuguese and Galician languages</a></li>
</ul></div><div id="cs870" class="box has-background-white-bis"><h3>870 Latin and Italic literatures</h3><ul>
  <li><a href="/books/search/dewey/870">870 Latin literature and literatures of related Italic languages</a></li>
  <li><a href="/books/search/dewey/871">871 Latin poetry</a></li>
  <li><a href="/books/search/dewey/872">872 Latin dramatic poetry and drama</a></li>
  <li><a href="/books/search/dewey/873">873 Latin epic poetry and fiction</a></li>
  <li><a href="/books/search/dewey/874">874 Latin lyric poetry</a></li>
  <li><a href="/books/search/dewey/875">875 Latin speeches</a></li>
  <li><a href="/books/search/dewey/876">876 Latin letters</a></li>
  <li><a href="/books/search/dewey/877">877 Latin humor and satire</a></li>
  <li><a href="/books/search/dewey/878">878 Latin miscellaneous writings</a></li>
  <li><a href="/books/search/dewey/879">879 Literatures of other Italic languages</a></li>
</ul></div><div id="cs880" class="box has-background-white-bis"><h3>880 Classical and modern Greek literatures</h3><ul>
  <li><a href="/books/search/dewey/880">880 Classical Greek literature and literatures of related Hellenic languages</a></li>
  <li><a href="/books/search/dewey/881">881 Classical Greek poetry</a></li>
  <li><a href="/books/search/dewey/882">882 Classical Greek drama</a></li>
  <li><a href="/books/search/dewey/883">883 Classical Greek epic poetry and fiction</a></li>
  <li><a href="/books/search/dewey/884">884 Classical Greek lyric poetry</a></li>
  <li><a href="/books/search/dewey/885">885 Classical Greek speeches</a></li>
  <li><a href="/books/search/dewey/886">886 Classical Greek letters</a></li>
  <li><a href="/books/search/dewey/887">887 Classical Greek humor and satire</a></li>
  <li><a href="/books/search/dewey/888">888 Classical Greek miscellaneous writings</a></li>
  <li><a href="/books/search/dewey/889">889 Modern Greek literature</a></li>
</ul></div><div id="cs890" class="box has-background-white-bis"><h3>890 Other literatures</h3><ul>
  <li><a href="/books/search/dewey/890">890 Literatures of other specific languages and language families</a></li>
  <li><a href="/books/search/dewey/891">891 East Indo-European and Celtic literatures</a></li>
  <li><a href="/books/search/dewey/892">892 Afro-Asiatic literatures</a></li>
  <li><a href="/books/search/dewey/893">893 Non-Semitic Afro-Asiatic literatures</a></li>
  <li><a href="/books/search/dewey/894">894 Literatures of Altaic, Uralic, Hyperborean, Dravidian languages; literatures of miscellaneous languages of South Asia</a></li>
  <li><a href="/books/search/dewey/895">895 Literatures of East and Southeast Asia</a></li>
  <li><a href="/books/search/dewey/896">896 African literatures</a></li>
  <li><a href="/books/search/dewey/897">897 Literatures of North American native languages</a></li>
  <li><a href="/books/search/dewey/898">898 Literatures of South American native languages</a></li>
  <li><a href="/books/search/dewey/899">899 Literatures of non-Austronesian languages of Oceania, of Austronesian languages, of miscellaneous languages</a></li>
</ul></div></div><h3 class="box has-background-grey has-text-white"  id="c900" >Class 900 – History and geography</h3><div>
  <div id="cs900" class="box has-background-white-bis"><h3>900 History</h3><ul>
    <li><a href="/books/search/dewey/900">900 History, geography, and auxiliary disciplines</a></li>
    <li><a href="/books/search/dewey/901">901 Philosophy and theory of history</a></li>
    <li><a href="/books/search/dewey/902">902 Miscellany of history</a></li>
    <li><a href="/books/search/dewey/903">903 Dictionaries, encyclopedias, concordances of history</a></li>
    <li><a href="/books/search/dewey/904">904 Collected accounts of events</a></li>
    <li><a href="/books/search/dewey/905">905 Serial publications of history</a></li>
    <li><a href="/books/search/dewey/906">906 Organizations and management of history</a></li>
    <li><a href="/books/search/dewey/907">907 Education, research, related topics of history</a></li>
    <li><a href="/books/search/dewey/908">908 History with respect to groups of people</a></li>
    <li><a href="/books/search/dewey/909">909 World history</a></li>
  </ul></div><div id="cs910" class="box has-background-white-bis"><h3>910 Geography and travel</h3><ul>
  <li><a href="/books/search/dewey/910">910 Geography and travel</a></li>
  <li><a href="/books/search/dewey/911">911 Historical geography</a></li>
  <li><a href="/books/search/dewey/912">912 Graphic representations of surface of earth and of extraterrestrial worlds</a></li>
  <li><a href="/books/search/dewey/913">913 Geography of and travel in the ancient world</a></li>
  <li><a href="/books/search/dewey/914">914 Geography of and travel in Europe</a></li>
  <li><a href="/books/search/dewey/915">915 Geography of and travel in Asia</a></li>
  <li><a href="/books/search/dewey/916">916 Geography of and travel in Africa</a></li>
  <li><a href="/books/search/dewey/917">917 Geography of and travel in North America</a></li>
  <li><a href="/books/search/dewey/918">918 Geography of and travel in South America</a></li>
  <li><a href="/books/search/dewey/919">919 Geography of and travel in Australasia, Pacific Ocean islands, Atlantic Ocean islands, Arctic islands, Antarctica, and on extraterrestrial worlds</a></li>
</ul></div><div id="cs920" class="box has-background-white-bis"><h3>920 Biography and genealogy</h3><ul>
  <li><a href="/books/search/dewey/920">920 Biography, genealogy, insignia</a></li>
  <li><a href="/books/search/dewey/921–928">921–928 This range is reserved as an optional location for biographies, which are shelved alphabetically by subject's last name.</a></li>
  <li><a href="/books/search/dewey/929">929 Genealogy, names, insignia</a></li>
</ul></div><div id="cs930" class="box has-background-white-bis"><h3>930 History of ancient world (to c. 499)</h3><ul>
  <li><a href="/books/search/dewey/930">930 History of ancient world to c. 499</a></li>
  <li><a href="/books/search/dewey/931">931 China to 420</a></li>
  <li><a href="/books/search/dewey/932">932 Egypt to 640</a></li>
  <li><a href="/books/search/dewey/933">933 Palestine to 70</a></li>
  <li><a href="/books/search/dewey/934">934 South Asia to 647</a></li>
  <li><a href="/books/search/dewey/935">935 Mesopotamia to 637 and Iranian Plateau to 637</a></li>
  <li><a href="/books/search/dewey/936">936 Europe north and west of Italian Peninsula to c. 499</a></li>
  <li><a href="/books/search/dewey/937">937 Italian Peninsula to 476 and adjacent territories to 476</a></li>
  <li><a href="/books/search/dewey/938">938 Greece to 323</a></li>
  <li><a href="/books/search/dewey/939">939 Other parts of ancient world</a></li>
</ul></div><div id="cs940" class="box has-background-white-bis"><h3>940 History of Europe</h3><ul>
  <li><a href="/books/search/dewey/940">940 History of Europe</a></li>
  <li><a href="/books/search/dewey/941">941 British Isles</a></li>
  <li><a href="/books/search/dewey/942">942 England and Wales</a></li>
  <li><a href="/books/search/dewey/943">943 Germany and neighboring central European countries</a></li>
  <li><a href="/books/search/dewey/944">944 France and Monaco</a></li>
  <li><a href="/books/search/dewey/945">945 Italy, San Marino, Vatican City, Malta</a></li>
  <li><a href="/books/search/dewey/946">946 Spain, Andorra, Gibraltar, Portugal</a></li>
  <li><a href="/books/search/dewey/947">947 Russia and neighboring east European countries</a></li>
  <li><a href="/books/search/dewey/948">948 Scandinavia</a></li>
  <li><a href="/books/search/dewey/949">949 Other parts of Europe</a></li>
</ul></div><div id="cs950" class="box has-background-white-bis"><h3>950 History of Asia</h3><ul>
  <li><a href="/books/search/dewey/950">950 History of Asia</a></li>
  <li><a href="/books/search/dewey/951">951 China and adjacent areas</a></li>
  <li><a href="/books/search/dewey/952">952 Japan</a></li>
  <li><a href="/books/search/dewey/953">953 Arabian Peninsula and adjacent areas</a></li>
  <li><a href="/books/search/dewey/954">954 India and neighboring south Asian countries;</a></li>
  <li><a href="/books/search/dewey/955">955 Iran</a></li>
  <li><a href="/books/search/dewey/956">956 Middle East (Near East)</a></li>
  <li><a href="/books/search/dewey/957">957 Siberia (Asiatic Russia)</a></li>
  <li><a href="/books/search/dewey/958">958 Central Asia</a></li>
  <li><a href="/books/search/dewey/959">959 Southeast Asia</a></li>
</ul></div><div id="cs960" class="box has-background-white-bis"><h3>960 History of Africa</h3><ul>
  <li><a href="/books/search/dewey/960">960 History of Africa</a></li>
  <li><a href="/books/search/dewey/961">961 Tunisia and Libya</a></li>
  <li><a href="/books/search/dewey/962">962 Egypt, Sudan, South Sudan</a></li>
  <li><a href="/books/search/dewey/963">963 Ethiopia and Eritrea</a></li>
  <li><a href="/books/search/dewey/964">964 Morocco, Ceuta, Melilla Western Sahara, Canary Islands</a></li>
  <li><a href="/books/search/dewey/965">965 Algeria</a></li>
  <li><a href="/books/search/dewey/966">966 West Africa and offshore islands</a></li>
  <li><a href="/books/search/dewey/967">967 Central Africa and offshore islands</a></li>
  <li><a href="/books/search/dewey/968">968 Republic of South Africa and neighboring southern African countries</a></li>
  <li><a href="/books/search/dewey/969">969 South Indian Ocean islands</a></li>
</ul></div><div id="cs970" class="box has-background-white-bis"><h3>970 History of North America</h3><ul>
  <li><a href="/books/search/dewey/970">970 History of North America</a></li>
  <li><a href="/books/search/dewey/971">971 Canada</a></li>
  <li><a href="/books/search/dewey/972">972 Mexico, Central America, West Indies, Bermuda</a></li>
  <li><a href="/books/search/dewey/973">973 United States</a></li>
  <li><a href="/books/search/dewey/974">974 Northeastern United States (New England and Middle Atlantic states)</a></li>
  <li><a href="/books/search/dewey/975">975 Southeastern United States (South Atlantic states)</a></li>
  <li><a href="/books/search/dewey/976">976 South central United States</a></li>
  <li><a href="/books/search/dewey/977">977 North central United States</a></li>
  <li><a href="/books/search/dewey/978">978 Western United States</a></li>
  <li><a href="/books/search/dewey/979">979 Great Basin and Pacific Slope region of United States</a></li>
</ul></div><div id="cs980" class="box has-background-white-bis"><h3>980 History of South America</h3><ul>
  <li><a href="/books/search/dewey/980">980 History of South America</a></li>
  <li><a href="/books/search/dewey/981">981 Brazil</a></li>
  <li><a href="/books/search/dewey/982">982 Argentina</a></li>
  <li><a href="/books/search/dewey/983">983 Chile</a></li>
  <li><a href="/books/search/dewey/984">984 Bolivia</a></li>
  <li><a href="/books/search/dewey/985">985 Peru</a></li>
  <li><a href="/books/search/dewey/986">986 Colombia and Ecuador</a></li>
  <li><a href="/books/search/dewey/987">987 Venezuela</a></li>
  <li><a href="/books/search/dewey/988">988 Guiana</a></li>
  <li><a href="/books/search/dewey/989">989 Paraguay and Uruguay</a></li>
</ul></div><div id="cs990" class="box has-background-white-bis"><h3>990 History of other areas</h3><ul>
  <li><a href="/books/search/dewey/990">990 History of Australasia, Pacific Ocean islands, Atlantic Ocean islands, Arctic islands, Antarctica, extraterrestrial worlds</a></li>
  <li><a href="/books/search/dewey/991–992">991–992 Not assigned or no longer used</a></li>
  <li><a href="/books/search/dewey/993">993 New Zealand</a></li>
  <li><a href="/books/search/dewey/994">994 Australia</a></li>
  <li><a href="/books/search/dewey/995">995 New Guinea and neighboring countries of Melanesia</a></li>
  <li><a href="/books/search/dewey/996">996 Polynesia and other Pacific Ocean islands</a></li>
  <li><a href="/books/search/dewey/997">997 Atlantic Ocean islands</a></li>
  <li><a href="/books/search/dewey/998">998 Arctic islands and Antarctica</a></li>
  <li><a href="/books/search/dewey/999">999 Extraterrestrial worlds</a></li>
</div></div></div>

