<h1>Add new book</h1>
<%= form_for(@book) do |f| %>
<div class="box has-background-light"
		<div class="columns">
			<div class="column is-3">
				<div class="field">
					<label class="label">Title</label> 
					<div class="control">
						<%= f.text_field :title,:class=>"input", :required=>true %>
					</div>
				</div>
			</div>
		</div>
    <%= f.submit "Add book", class: "button has-text-white has-background-info is-rounded" %>
</div>
      
      

      
<% end %>