<section class="hero is-dark is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            My Library
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="/books">
              Books
            </a>
            <a class="navbar-item" href="/authors">
              Authors
            </a>
            <a class="navbar-item" href="/stats">
              Stats
            </a>
            <a class="navbar-item" href="/dewey">
              Dewey
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
<br /><br />